export(as.mam)
export(bucketRound)
export(convertSkimToMat)
export(copyTemplate)
export(createAppTemplate)
export(convertDegRad)
export(gcdHaversine)
export(getFIPS)
export(getGlobalVars)
export(getSkimTOD)
export(initializeApp)
export(is.mam)
export(joinSkimTables)
export(loadInputs)
export(loadPackages)
export(montecarlo.predict)
export(pairsGCD)
export(predict_logit)
export(progressEnd)
export(progressError)
export(progressStart)
export(progressUpdate)
export(run_sim)
export(runPMG)
export(sample.inclusive)
export(saveOutputs)
export(saveSummary)
export(splitData)
export(tidyDataTable)
export(tryFIPS)
export(which.prob)
import(data.table)
import(parallel)
importFrom(stats, formula, predict, runif)
importFrom(tools, file_ext)
importFrom(utils, install.packages, read.table, write.csv)
S3method("+", mam)
S3method("-", mam)
S3method("[", mam)
S3method(summary, mam)
S3method(print, mam)
