#firms_file_name: &firms_file_name firms.csv
#store: pipeline.h5

firms_file_name: &firms_file_name firms_test.csv
pipeline: test_pipeline.h5

#data_dir: sample_data

scenarios_dir: scenarios
scenario_name: base

# input_pre_processor input_tables
input_tables:
  naics_industry:
    filename: corresp_naics_industry.csv
    index_col: NAICS3
  industry_10_5:
    filename: corresp_industry_10_5.csv
    index_col: industry10
  naics_empcat:
    filename: corresp_naics_empcat.csv
    index_col: n2
    column_map:
      Model_EmpCat: model_emp_cat
#  taz1_taz2:
#    filename: corresp_taz1_taz2.csv
  taz_fips:
    filename: corresp_taz_fips.csv
    column_map:
      CountyFIPS: county_FIPS
      StateFIPS: state_FIPS
  taz_faf4:
    filename: corresp_taz_faf4.csv
  unit_cost:
    filename: data_unitcost.csv
    column_map:
      Commodity_SCTG: SCTG
      UnitCost: unit_cost
      #Commodity_SCTG,UnitCost,Tons,Value
    index_col: SCTG
  est_pref_weights:
    filename: data_est_pref_weights.csv
    column_map:
      Commodity_SCTG: SCTG
      CostWeight: cost_weight
      TimeWeight: time_weight
      SingleSourceMaxFraction: single_source_max_fraction
      Commodity_SCTG_desc: SCTG_description
    index_col: SCTG
  employment_categories:
    filename: EmploymentCategories.csv
    column_map:
      EstablishmentSize: esizecat
      ID: id
  input_output_values:
    filename: InputOutputValues.csv
    column_map:
      NAICS6_Make: NAICS6_make
      NAICS6_Use: NAICS6_use
      ProVal: pro_val
  NAICS2007_to_NAICS2007io:
    filename: NAICS2007_to_NAICS2007io.csv
    index_col: NAICS
  NAICS2012_to_NAICS2007io:
    filename: NAICS2012_to_NAICS2007io.csv
    # no index col as there are dupes in both columns
    column_map:
      Proportion: proportion
  NAICS2012_to_NAICS2007:
    filename: NAICS2012_to_NAICS2007.csv
    # no index col as there are dupes in both columns
  NAICS2007io_to_SCTG:
    filename: NAICS2007io_to_SCTG.csv
    column_map:
      Proportion: proportion
  foreign_prod_values:
    filename: data_foreign_prod.csv
    column_map:
      Commodity_NAICS6: NAICS6
      USImpVal: pro_val
      FAFZONE: FAF4
      ctrycod: country_code
  foreign_cons_values:
    filename: data_foreign_cons.csv
    column_map:
      Commodity_NAICS6: NAICS6
      USExpVal: con_val
      FAFZONE: FAF4
      ctrycod: country_code
  numa_dist:
    filename: numa_dist.csv
#  firms_est:
#    filename: firms_establishments_pairs.csv
#    column_map:
#      naics.firm: NAICS6_firm
#      naics.est: NAICS6_est
#      CountyFIPS.firm: county_FIPS_firm
#      CountyFIPS.est: county_FIPS_est
#      FAF4.firm: FAF4_firm
#      FAF4.est: FAF4_est
#      TAZ.firm: TAZ_firm
#      TAZ.est: TAZ_est
#      n2.est: NAICS2_est
#      esizecat: esizecat_est
#      emp: emp_est
#      estid: bus_id
#      n4.est: NAICS4_est
#      firmid: firm_id
#      fsizecat: esizecat_firm
#      n4.firm: NAICS4_firm
#      n2.firm: NAICS2_firm
#      Distance: distance
#      StateFIPS.est: state_FIPS_est
#      StateFIPS.firm: state_FIPS_firm

scenario_input_tables:
  socio_economics_taz:
    filename: lehdtazm.csv
    index_col: TAZ

est_synthesis_tables:
  ests_establishments:
    filename: *firms_file_name
    column_map:
      estid: bus_id
      TAZ1: TAZ
      CountyFIPS: county_FIPS
      StateFIPS: state_FIPS
      #naics: NAICS2012
    index_col: bus_id

#  # 2014 SUSB Annual Data Tables by Establishment Industry
#  SUSB_firms:
#    filename: SUSB_Firms.csv
#    column_map:
#      naics: NAICS
#    index_col: NAICS




run_list:
  steps:
    - input_pre_processor
#    - firm_synthesis_load_firms
#    - firm_synthesis_enumerate
#    - firm_synthesis_scale_employees
#    - firm_synthesis_simulate_production_commodities
#    - firm_synthesis_types
#    - firm_synthesis_iopairs
#    - firm_synthesis_producers
#    - firm_synthesis_consumers
#    - firm_synthesis_naics_set
#    - firm_synthesis_summary
    - est_synthesis
    - write_data_dictionary
#    - write_tables

  #resume_after: firm_synthesis_consumers



# output_tables can specify either a list of output tables to include or to skip
# if neither is specified, then all checkpointed tables will be written
#
#output_tables:
#  action: skip
#  tables:
#    - cbp
#
#output_tables:
#  action: include
#  tables:
#    - matches_naics
#    - naics_set


